.header__lang-link {
  width: 100%;
  color: #ffffff;
  text-decoration: none;
  margin-left: 16px;
  }

  .header__lang-link:hover {
    opacity: 0.7;
  }

@media screen and (max-width: 568px) {
  .header__lang-link {
    max-width: 22px;
    font-size: 18px;
    line-height: 20px;
  }
}
