.header__links {
  font-size: 24px;
  line-height: 28px;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0 0 5px 0;
  }

